In [1]:
import pandas as pd

In [2]:
# load in alternate dataset "Gun violence Archive"
gun_violence_df = pd.read_csv('Gun_Violence_Archive.csv')

gun_violence_df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2536665,"March 1, 2023",Florida,Cocoa,4075 Alan Shepard Ave,4,0,NaN
1,2536811,"March 1, 2023",District of Columbia,Washington,14th St NW and V St NW,1,3,NaN
2,2534995,"February 27, 2023",Ohio,New Richmond,1195 Riebel Ridge,4,1,NaN
3,2534810,"February 27, 2023",Tennessee,Memphis,W Essex Ave and Arkansas St,2,3,NaN
4,2534393,"February 26, 2023",Illinois,Machesney Park,1001 West Lane Rd,0,4,NaN
...,...,...,...,...,...,...,...,...
1995,1635118,"March 6, 2020",District of Columbia,Washington,6219 Dix St NE,0,6,NaN
1996,1634128,"March 4, 2020",California,Tulare,111 W Tulare Ave,1,5,NaN
1997,1631040,"February 29, 2020",Missouri,Kansas City,510 Westport Rd,1,4,NaN
1998,1631831,"February 29, 2020",Colorado,Brighton,Starr Ln and County Rd 2,0,5,NaN
1999,1629488,"February 26, 2020",Wisconsin,Milwaukee,3939 W Highland Blvd,6,0,NaN

In [3]:
# search for specific shooting (Uvalde Texas 2022)
gun_violence_df[gun_violence_df['City Or County'] == 'Uvalde']

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
528,2310278,"May 24, 2022",Texas,Uvalde,715 Old Carrizo Rd,22,17,NaN

In [4]:
# load in main dataset
violence_project_df = pd.read_csv('violence_project.csv')

violence_project_df.columns = violence_project_df.iloc[0]

In [5]:
# search for same incident
uvalde_incident = violence_project_df[(violence_project_df['Year'] > '2020') & (violence_project_df['City'] == 'Uvalde')]

In [6]:
# check that the number killed is the same
uvalde_incident['Number Killed']

184    21
Name: Number Killed, dtype: object

Numbers are one different which may be explained by different counting methods.

#### Overall Data Validation

Overall, the Gun Violence Archive doesn't do a great job validating our main dataset. It has a different definition of mass shooting and only has data from 2020 onwards. This makes finding common events and comparing difficult. With that said, it does seem to have similar information for shared incidents. Both come from reliable sources (government/academic research) so we are not overly concerned about data vaildity.